/* Webfont: TANBUSTER-Bold */@font-face {
    font-family: 'TAN-BUSTER';
    src: url('https://vvvaporwaves.github.io/fonts/buster/TAN-BUSTER.woff2') format('woff2'), /* Modern Browsers */
         url('https://vvvaporwaves.github.io/fonts/buster/TAN-BUSTER.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

