
@font-face {
  font-family: 'margin';
  src: url('https://vvvaporwaves.github.io/fonts/margin/Margin Italic WOFF.woff?') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'margin';
  src: url('https://vvvaporwaves.github.io/fonts/margin/Margin WOFF.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
