
@font-face {
  font-family: Exodus;
  src: url(https://kopefully.github.io/fonts/exodus/ExodusDemo-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Exoduss;
  src: url(https://kopefully.github.io/fonts/exodus/ExodusDemo-Shino.otf);
  font-weight: normal;
}

