@font-family {
  font-family: "theimpressionist";
  font-weight: normal;
  src: url('https://vvvaporwaves.github.io/fonts/impezion/theimpressionist.otf') format('otf'), 
    url('https://vvvaporwaves.github.io/fonts/impezion/theimpressionist.ttf') format('ttf'),
    url('https://vvvaporwaves.github.io/fonts/impezion/theimpressionist.woff2') format('woff'),
    url('https://vvvaporwaves.github.io/fonts/impezion/theimpressionist.woff2') format('woff2');
}
